body[data-theme="light"] {
  /* Brand */
  --wc-body-font: Verdana, Geneva, sans-serif;
  --wc-color-1: #056f65; /* base color */
  --wc-color-2: #2bbbad; /* usually lligher */
  --wc-color-3: #004d40; /* usually darker */
  --wc-color-attn: white;

  /* Bakcground */
  --wc-bg-1: #eee;
  --wc-bg-2: #ccc;
  --wc-bg-3: #5e686f;

  /* Txt */
  --wc-txt-1: rgb(28, 32, 34);
  --wc-txt-2: #222831;
  --wc-txt-3: rgb(17, 21, 24);
}
